@import 'bootstrap-compass';
@import 'bootstrap';

.body-block {
	background-image: url('/static/img/img.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding :20px;
    height : 1000px;
}