@import 'bootstrap-override';
@import 'bootstrap-compass';
@import 'bootstrap';
@import 'nav-bar';

/*
.full-body {
	background-color: $navbar-default-bg;
}
*/

.body-block {
	// add padding to top since this will display underneath the nav bar
	padding-top: $navbar-height;
}

/*
.jumbotron {
	background-image:url('/static/img/IMG_2715.png');
	height: 1000px;
	background-repeat: no-repeat;
	background-size: cover;
}
*/