@import 'bootstrap-override';
@import 'bootstrap-compass';
@import 'bootstrap';
@import 'custom-fonts';
@import 'nav-bar';

/*
.full-body {
	background-color: $navbar-default-bg;
}
*/

.body-block {
	// add padding to top since this will display underneath the nav bar
	margin-top: $navbar-height;
	//padding-top: $navbar-height;
}

.jumbotron {
	// Remove the margin set by default
	margin-bottom: 0px;
}

.name-banner {
	height: 85vh;
	h1, h2,
	.h1 {
		text-align: center;
		//color: #12297a;
	}
}

.description-jumbotron {
	height: 85vh;
}

.sub-description-jumbotron {
	height: 85vh;
}

.footer {
	padding-top: 15px;
	height: 50px;
}

#name-header {
	font-family: AlexBrush;
	font-size: 100px;
	color: black;
}

#title-header {
	font-family: Stencil;
}