@import 'bootstrap-override';
@import 'bootstrap-compass';
@import 'bootstrap';
@import 'nav-bar';

/*
.full-body {
	background-color: $navbar-default-bg;
}
*/

.body-block {
	// add padding to top since this will display underneath the nav bar
	margin-top: $navbar-height;
	//padding-top: $navbar-height;
}

.jumbotron {
	// Remove the margin set by default
	margin-bottom: 0px;
}

.name-banner {
	height: 200px;
	h1,
	.h1 {
		text-align: center;
	}
}