/* line 1, ../../sass/nav-bar.scss */
.container-fluid {
  background: white;
}

/* line 5, ../../sass/nav-bar.scss */
li > a {
  color: black;
  text-decoration: none;
}

/* line 10, ../../sass/nav-bar.scss */
.container-nav {
  width: 50%;
  margin: 0 auto;
}

/* line 15, ../../sass/nav-bar.scss */
ul li {
  display: inline;
  text-align: center;
}

/* line 20, ../../sass/nav-bar.scss */
a {
  display: inline-block;
  width: 25%;
  padding: .75rem 0;
  margin: 0;
  text-decoration: none;
  color: #333;
}

/* line 29, ../../sass/nav-bar.scss */
#blog:hover ~ hr {
  margin-left: 25%;
}

/* line 33, ../../sass/nav-bar.scss */
#pics:hover ~ hr {
  margin-left: 50%;
}

/* line 37, ../../sass/nav-bar.scss */
#contact:hover ~ hr {
  margin-left: 75%;
}

/* line 41, ../../sass/nav-bar.scss */
hr {
  height: .25rem;
  width: 25%;
  margin: 0;
  background: tomato;
  border: none;
  transition: .3s ease-in-out;
}
