<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Atindra</title>
        <link rel="stylesheet" href="static/stylesheets/main.css">
    </head>
    <body>
      <!-- Nav bar -->
        <div class="container-nav">
          <ul>
            <li class="active" id="work"><a href="#">Work</a></li>
            <li id="blog"><a href="#">Blog</a></li>
            <li id="pics"><a href="#">Pics</a></li>
            <li id="contact"><a href="#">Contact</a></li>
            <hr />
          </ul>
        </div>
      <!--
    	<div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-md-push-3">
                    <nav class="navbar navbar-default navbar-fixed-top">
                      <ul class="nav nav-justified">
                        <li class="active"><a href="#">Portfolio</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Pics</a></li>
                        <li><a href="#">Contact</a></li>
                      </ul>
                    </nav>
                </div>
            </div>
        </div>
        -->
        <div class="body-block"></div>
    	{% block body %}{% endblock %}
        <script src="static/js/jquery-1.12.0.js"></script>
        <script src="static/js/bootstrap-sprockets.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/app.js"></script>
    </body>
</html>