<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<title>Coming Soon</title>
	<link rel="stylesheet" href="/static/stylesheets/coming-soon.css">
</head>
<body>
	<div class="row">
		<div class="col-xs-12">
			<img src="/static/img/japan_self_bench_compressed.jpg" class="img-responsive">
		</div>
	</div>
    <script src="static/js/jquery-1.12.0.js"></script>
    <script src="static/js/bootstrap-sprockets.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/app.js"></script>
</body>
</html>