{% extends "base.html" %}
{% block body %}
<div class="parallax-window" data-parallax="scroll" data-image-src="/static/img/self_japan_bench_blue.jpg">
    <div class="jumbotron">
        <div class="container">
            <div class="name-banner">
                <h1>Atindra Ganeshen</h1>
            </div>
        </div>
    </div>
</div>
<div class="parallax-window" data-parallax="scroll" data-image-src="/static/img/paris_fountain.png">
    <div class="jumbotron">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>
<!-- <img src="/static/img/japan_bench_trimmed.jpg" class="img-responsive" alt="Responsive image"> -->
{% endblock %}