{% extends "base.html" %}
{% block body %}
<div class="parallax-window name-banner-image" data-parallax="scroll" data-image-src="/static/img/self_bench_clear_sky_blue.jpg">
    <div class="jumbotron">
        <div class="container">
            <div class="name-banner">
                <h1 id="name-header" class="name-header">Atindra Ganeshen</h1>
                <h2 id="title-header" class="title-header">Software Engineer | mobile & web</h2>
            </div>
        </div>
    </div>
</div>
<div class="parallax-window" data-parallax="scroll" data-image-src="/static/img/blackboard.jpg">
    <div class="jumbotron">
        <div class="container">
            <div class="description-jumbotron">
                <h1 class="description-text"><!-- Hello, world! --></h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}